html{
	height: 100%;
	padding: 0px;
  	margin: 0px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('../images/horizon.jpg'); 
  height: 100%;
  padding: 0px;
  margin: 0px;
}

a {
  color: #00B7FF;
}


#wrap {min-height: 100%;}

#main {
	overflow:auto;
	padding-bottom: 380px;
}  /* must be same height as the footer */

#footer {
	position: relative;
	margin-top: -380px; /* negative value of footer height */
	height: 380px;
	clear:both;
} 

#motorContainer{
	margin-left: 80px;
}

.motors{
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}

#motor1{
	margin-top: 200px;
}

#motor2{
	margin-top: 110px;
	margin-left: 5px;
	margin-right: 5px;
}

#motor3{
	margin-top: 65px;
}

#motor4{
	clear: both;
}

#stabilizer{
	float: left;
	width: 500px;
	height: 300px;
	text-align: center;
	padding: 20px;	
}

.gauge{
	float: left;
	width: auto;
}

#thrust .gauge{
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}

#stabilizer3D{
	float: left;
	text-align: center;
	height: 200px;
	width: 300px;
}

#plot{
	text-align: center;
	float: left;
	width: 800px;
	
}



.linkQuality{
	float: left;
	position: relative;
	margin-top: 210px;
	margin-left: -60px;
	width: 130px;
}

.linkQuality progress{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	background: #333;
	width: 200px;
	height: 38px;
	border-radius: 10px;
}

progress::-webkit-progress-bar {  
   background-color: #404040;
   border: 1px solid #111;
   border-radius: 10px;
	
}  
progress::-webkit-progress-value {  
    background: #2c54ff;
    border-radius: 5px;
}  
