<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/gauge.js"></script>
    <script type="text/javascript" src="/javascripts/d3.min.js"></script>
    <script type="text/javascript" src="/javascripts/three.min.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
    <script type="text/javascript" src="/javascripts/nv.d3.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/nv.d3.css' />
    <link rel='stylesheet' href='/stylesheets/button.css' />
	<script type="text/javascript">
		var cfRunning;
		$(document).ready(function(){

			$('#button').on('click', function(){
				$(this).toggleClass('on');
				if(!cfRunning){
					startCF();	
					cfRunning = true;
				}else{
					stopCF();
					cfRunning = false;
				}
			});

			drawFlightPanel();
			connectToServer();
	});
	</script>
 
  </head>
  <body onload="initialize()">
  		<div id="wrap">

			<div id="main">
			</div>
		</div>

		<div id="footer">
			<canvas id='footerbg' style='width: 100%; height: 380px; position: absolute; z-index: -9999'></canvas>
			<div id='motorContainer'> 
				<span class='motors' id="motor1"></span>
				<span class='motors' id="motor2"></span>
				<div style='float: left'>
				<span class='motors' id="motor3"></span>
				<span class='motors' id="motor4"></span>
				</div>
				<span id="thrust"></span>
				<span class="signals">
				<progress  value="90" max="100" id="linkQuality">No progress bar</progress>
					<label for="linkQuality" class="genericLabel">Link Quality</label>
				</span>
				<span class="signals" >
					<progress value="0" max="100" id="batteryLevel">No progress bar</progress>
					<label for="batteryLevel" class="genericLabel">Battery Level</label>
				</span>
				<div id="sensorData">
					<label  class="genericLabel">Accelerometer</label>	
					<div style='clear: both'>
						<label  class="genericField">x: </label>	
						<label id="accx"  class="genericValue">0</label>	
					</div>
					<div style='clear: both'>
						<label  class="genericField">y: </label>	
						<label id="accy"  class="genericValue">0</label>	
					</div>	
					<div style='clear: both'>
						<label  class="genericField">z: </label>	
						<label id="accz"  class="genericValue">0</label>	
					</div>
					<div style='clear: both; margin-top: 20px'>
						<label  class="genericLabel">Gyro</label>	
					<div style='clear: both'>
						<label  class="genericField">x: </label>	
						<label id="gyrox"  class="genericValue">0</label>	
					</div>
					<div style='clear: both'>
						<label  class="genericField">y: </label>	
						<label id="gyroy"  class="genericValue">0</label>	
					</div>	
					<div style='clear: both'>
						<label  class="genericField">z: </label>	
						<label id="gyroz"  class="genericValue">0</label>	
					</div>
					</div>
				</div>

				<div id='powerButton'>
		  			<section style='float: left; position: relative; top: -100px; left: 0'>
					<a href="#" id="button">&#xF011;</a>
					<span></span>
					</section>
				</div>
			</div>
  		
		<!--
		<div style='width: 600px'>
  			<span id="thrust"></span>
  		</div>
  		
  		<div id='stabilizer'>
  			
  		</div>
  		<div style='float:left; width: 50px'>
  			<section style='float: left; position: relative; top: -100px; left: 0'>
				<a href="#" id="button">&#xF011;</a>
			<span></span>
			</section>
			<div style='float: left;color: #fff; margin-top: 40px; margin-left: 10px'>
				Link Quality: 
			</div>
		</div>
  		<div style='float: clear'></div>
		</div>
	-->
  </body>
</html>



		
		
		

