<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/gauge.js"></script>
    <script type="text/javascript" src="/javascripts/d3.min.js"></script>
    <script type="text/javascript" src="/javascripts/three.min.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
    <script type="text/javascript" src="/javascripts/nv.d3.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/nv.d3.css' />
    <link rel='stylesheet' href='/stylesheets/button.css' />
	<script type="text/javascript">
		var cfRunning;
		$(document).ready(function(){
			$('#button').on('click', function(){
				$(this).toggleClass('on');
				if(!cfRunning){
					startCF();	
					cfRunning = true;
				}else{
					stopCF();
					cfRunning = false;
				}
				
				
			});

			connectToServer();

			var canvas = document.getElementById('footerbg');
      var context = canvas.getContext('2d');
      var x = canvas.width / 2;
      var y = canvas.height + 20;
      var radius = 160;
      var startAngle = 1 * Math.PI;
      var endAngle = 2 * Math.PI;
      var counterClockwise = false;

      var lingrad = context.createLinearGradient(0,0,0,380);
      lingrad.addColorStop(0, '#222');
      lingrad.addColorStop(1, '#000');

      context.beginPath();
      context.arc(x, y, radius, startAngle, endAngle, counterClockwise);
      context.fillStyle = lingrad;
      context.fill();

      context.strokeStyle = '#000';
      context.stroke();

		});
	</script>
 
  </head>
  <body onload="initialize()">
  		<div id="wrap">

			<div id="main">

			</div>
		</div>

		<div id="footer">
			<canvas id='footerbg' style='width: 100%; height: 380px; position: absolute; z-index: -9999'></canvas>
			<div id='motorContainer'> 
				<span class='motors' id="motor1"></span>
				<span class='motors' id="motor2"></span>
				<div style='float: left; height: 400px'>
				<span class='motors' id="motor3"></span>
				<span class='motors' id="motor4"></span>
				</div>
				<span id="thrust"></span>
				<span class="linkQuality">
				<progress  value="10" max="100" id="linkQuality">No progress bar</progress>
				</span>
				<span class="linkQuality" >
				<progress value="50" max="100" id="batteryLevel">No progress bar</progress>
				</span>
				<span class="linkQuality">
				<progress value="25" max="100" id="linkQuality">No progress bar</progress>
				</span>
				<span class="linkQuality">
				<progress value="25" max="100" id="linkQuality">No progress bar</progress>
				</span>
				<span class="linkQuality">
				<progress value="85" max="100" id="linkQuality">No progress bar</progress>
				</span>
				<div style='float:left; width: 50px; margin-top: 180px; margin-left: 70px'>
		  			<section style='float: left; position: relative; top: -100px; left: 0'>
					<a href="#" id="button">&#xF011;</a>
					<span></span>
					</section>
				</div>
			</div>
  		
		<!--
		<div style='width: 600px'>
  			<span id="thrust"></span>
  		</div>
  		
  		<div id='stabilizer'>
  			
  		</div>
  		<div style='float:left; width: 50px'>
  			<section style='float: left; position: relative; top: -100px; left: 0'>
				<a href="#" id="button">&#xF011;</a>
			<span></span>
			</section>
			<div style='float: left;color: #fff; margin-top: 40px; margin-left: 10px'>
				Link Quality: 
			</div>
		</div>
  		<div style='float: clear'></div>
		</div>
	-->
  </body>
</html>



		
		
		

